/* Lasagna page CSS */

* {
    font-family: Arial, Helvetica, sans-serif;
}

.page-header {
    text-align: center;
    color: darkred;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightgrey;
}

.title {
    font-size: 50px;
    font-weight: bolder;
}

.subtitle {
    font-size: 20px;
    font-weight: bold;
}

img {
    width: 600px;
    height: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.column-left {
    background-color: wheat;
    padding: 30px;
    text-align: left;
}

.column-mid {
    background-color: wheat;
    padding: 30px;
    padding-top: 100px;
    text-align: left;
}

.column-right {
    background-color: wheat;
    padding: 30px;
    padding-top: 100px;
    text-align: left;
}